.gallery {
  .xb-search-bar {
    .item-input {
      padding: 0 0 0 6px;
    }
    input {
      font-family: $font-family-base !important;
      font-size: 12px;
    }
    .button {
      border: none;
      background-color: #3984fe;
    }
    .icon-search {
      background-image: url('../img/icon_search.png');
      width:23px;
      height:23px;
      vertical-align: middle;
    }
  }
  .empty {
    margin-left: 3%;
  }
}
